@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-gutter {
  scrollbar-gutter: stable both-edges;
}

.active-link {
  color: var(--chakra-colors-chakra-body-text) !important;
}

.inactive-link {
  color: var(--chakra-colors-chakra-placeholder-color) !important;
}

/* Notion styles override */

.notion-table {
  overflow-x: hidden !important;
}

.notion-collection-header {
  display: none !important;
}
