.active-link {
  color: var(--chakra-colors-chakra-body-text) !important;
}

.inactive-link {
  color: var(--chakra-colors-chakra-placeholder-color) !important;
}

.no-spacing {
  padding: 0 !important;
  margin: 0 !important;
}

/* Notion styles override */

.notion-table {
  overflow-x: hidden !important;
}

.notion-collection-header {
  display: none !important;
}
